<html>
<head>
  <title>Duke Bus</title>
  <style type="text/css" src="./style.css"></style>
  <link rel="stylesheet" type="text/css" href="./style.css">
  <style type="text/css">
  .newest {
    color: #000;
  }
  li {
    color: #555;
  }
  </style>
</head>
<body>
  <div class="is">
    is the bus coming in five minutes?
    <h1><%= coming %></h1>
  </div>
  <table>
    <tbody>
    </tbody>
  </table>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="./index.js"></script>
</body>
</html>
