<html>
<head>
  <title>Duke Bus</title>
  <style type="text/css">
  .newest {
    color: #000;
  }
  li {
    color: #555;
  }
  </style>
</head>
<body>
  <h1></h1>
  <ul class="buses"></ul>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="./index.js"></script>
</body>
</html>
